= render 'header'
= render 'filters'
= link_to "+", new_task_path, method: :get, class: "btn btn-lg btn-primary"
= render 'table', tasks: @tasks
= render 'footer'

:css
  .table-cell {
    width: 20%;
  }
